<footer class="py-4">
    <div class="grid grid-cols-7 gap-5">
        <div class="col-start-2 my-auto">
            <p class="text-white text-sm text-center my-auto">©{{year}} S2-Intuitive</p>
        </div>
        <div class="flex flex-nowrap col-start-6 my-auto col-span-2">
            <img src="../../assets/RoT_icon.png" alt="" width="10%" height="auto" class="mx-4 my-auto">
            <p class="text-white text-sm mx-4 my-auto">Privacy policy</p>
            <p class="text-white text-sm mx-4 my-auto">Cookies</p>
        </div>
    </div>
</footer>