<header class="">
    <div class="overlay">
        <div class="py-3 grid grid-cols-5 gap-5 content-center">
            <div class="my-auto">
                <img src="../../assets/RoT_icon.png" alt="" width="20%" height="auto" class="mx-auto">
            </div>
            <div class="col-span-3 my-auto">
                <img src="../../assets/icon_rcloud.png" alt="" width="10%" height="auto" class="mx-auto">
            </div>
            <div class="my-auto">
                <p class="text-white mx-auto text-center">LOG IN</p>
            </div>
        </div>
    </div>
</header>