<div>
    <header class="flex items-center w-full sticky-top disable-touch-scroll space-x-4"
        style="background-color: #f0f3f9; width: 100%;">
        <div class="flex items-center max-w-17rem w-25vw relative p-2 h-full"
            style="background-image: linear-gradient(#6586c3c5 0,#6586c3c5 150%), url(../../assets/background-img.png)!important; background-repeat: no-repeat; background-size: cover; width: 25%;">
            <img class="h-14" src="../../assets/codiTrack-logo.png" alt="CodiTrack Logo">
            <h3 class="text-white m-0 ml-2 text-xl px-5">CodiTrack</h3>
        </div>
        <div class="col-span-6 bg-gray-100 pl-3 py-3 flex flex-nowrap my-auto">

            <div class="my-auto absolute right-3 top-3 flex flex-nowrap">
                <button class="px-3 py-2 bg-[#6684be] text-white rounded-md hover:bg-[#4f74ac] float-right my-auto"
                    (click)="goBack()">
                    <div class="ml-auto text-xl"><i class="fas fa-backward fa-xl"></i></div>
                </button>
            </div>

        </div>
    </header>

    <div *ngIf="showModal" class="absolute top-0 left-0 w-full h-full flex items-center justify-center z-10" (keydown.escape)="closeModal(false,0)">
        <div class="mx-auto bg-gray-200 w-96 p-4 px-8 rounded-lg border-black border border-1">
            
            <p class="text-lg">Are you sure you want to save changes?</p>
            <div class="flex flex-nowrap mt-2 justify-center">
                <button class="text-base mr-2 px-2 py-1 bg-[#6684be] text-white rounded-md hover:bg-[#4f74ac] float-right my-auto" (click)="closeModal(true,anomalyId)">Submit</button>
                <button class="text-base mx-2 px-2 py-1 bg-[#6684be] text-white rounded-md hover:bg-[#4f74ac] float-right my-auto" (click)="closeModal(false,0)">Cancel</button>
            </div>
        </div>
    </div>
    

    <div class="container mx-auto" style="max-width: 1200px;">
        <h1 class="font-semibold my-16 text-2xl">Anomaly {{anomaly.id}}</h1>


        <div class="grid grid-cols-2 gap-2 my-5 pl-4">
            <div>
                <p class="text-lg">Image</p>
            </div>
            <div>
                <p class="text-lg">Location</p>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 my-5 pl-4">
            <div class="h-[400px] w-[600px]"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Railroad_Tracks_-_Merritt_Island%2C_Florida.jpg/1200px-Railroad_Tracks_-_Merritt_Island%2C_Florida.jpg?20121011174007"
                    alt="" class="object-cover"></div>
            <div *ngIf="anomaly && anomaly.id !== 0" class="relative">
                <div class="absolute left-0 bottom-0 h-5 w-44 bg-gray-200 z-10 flex flex-nowrap">
                    <p class="text-sm mr-2">{{convertLatitudeToDegreesMinutesSeconds(anomaly.latitude)}}</p>
                    <p class="text-sm"> {{convertLongitudeToDegreesMinutesSeconds(anomaly.longitude)}}</p>
                </div>
                <app-map [width]="'600px'" [height]="'400px'" [anomalies]="[anomaly]" [zoom]="16"
                    [center]="center"></app-map>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-2 my-5 pl-4">
            <div>
                <div>
                    <div class="grid grid-cols-2 gap-2">
                        <div class="my-auto flex flex-nowrap">
                            <input type="checkbox" id="markfalse" name="markfalse" class="h-5 w-5 my-auto"
                                [(ngModel)]="isFalse">
                            <label for="markfalse" class="text-base my-auto mx-2">False Anomaly</label>
                        </div>
                        <div class="my-auto flex flex-nowrap">
                            <input type="checkbox" id="markfixed" name="markfixed" class="h-5 w-5 my-auto"
                                [(ngModel)]="isFixed">
                            <label for="markfixed" class="text-base my-auto mx-2">Fixed</label>
                        </div>
                    </div>
                </div>
                <button (click)="openModal()"
                    class="px-4 py-2 mt-8 bg-[#6684be] text-white text-sm rounded-md hover:bg-[#4f74ac]">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>