<div class="flex flex-wrap justify-around px-2 text-sm">
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-3 mb-3">
        <div class="card border shadow h-[20rem] bg-white rounded-lg overflow-hidden">
            <div class="text-dark card-header flex items-center justify-center">
                <i class="fas fa-globe-europe fa-4x"></i>
            </div>
            <div class="card-body px-2">
                <h3 class="card-title text-lg font-bold">Anomaly</h3>
                <p class="card-text text-gray-600">Data-driven heatmaps for analysis and live visualization of assets on a map.</p>
            </div>
            <div class="card-footer bg-gray-200">
                <a class="btn block bg-gray-800 text-white font-bold py-2 px-4 rounded-full w-full" routerLink="/anomaly"> 
                   View 
                </a> 
            </div>
        </div>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-3 mb-3">
        <div class="card border shadow h-[20rem] bg-white rounded-lg overflow-hidden">
            <div class="text-dark card-header flex items-center justify-center">
                <i class="fas fa-globe-europe fa-4x"></i>
            </div>
            <div class="card-body px-2">
                <h3 class="card-title text-lg font-bold">History</h3>
                <p class="card-text text-gray-600">All anomalies that are fixed are shown here.
                </p>
            </div>
            <div class=" p-3 border-l-2 border-b-2 border-r-2 border-transparent bg-gray-200">
                <a class="btn block bg-gray-800 text-white font-bold py-2 px-4 rounded-full w-full" routerLink="/history"> 
                   View 
                </a> 
            </div>
        </div>
    </div>

 </div>
 