<div>
    <h1 class="text-center">Select Tool</h1>
    <div class="mx-auto my-8 w-12 h-[2px] bg-red-800"></div>

    <div class="flex flex-wrap justify-center px-2 text-sm">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-[400px] px-3 mb-3 max-h-[400px]">
            <div class="relative min-w-0 box-border border-2 border-gray-300 shadow-lg shadow-gray-400 bg-white rounded-lg overflow-hidden h-full">
                <div class="text-dark p-3 mb-0 flex items-center justify-center border-b border-2 bg-gray-100">
                    <i class="fas fa-globe-europe fa-4x"></i>
                </div>
                <div class="p-4 border-t-2 border-b-2 border-gray-300 h-52">
                    <h3 class="text-2xl text-center">Anomaly</h3>
                    <p class="text-gray-600 text-center text-base">Data-driven heatmaps for analysis and live visualization of assets on a map.</p>
                </div>
                <div class="p-3 bg-gray-200">
                    <a class="btn block text-lg text-center bg-gray-800 text-white font-bold py-4 px-4 rounded-full w-full" routerLink="/anomaly"> 
                       View 
                    </a> 

            </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-[400px] px-3 mb-3 max-h-[400px]">
            <div class="relative min-w-0 box-border border-2 border-gray-300 shadow-lg shadow-gray-400 bg-white rounded-lg overflow-hidden h-full">
                <div class="text-dark p-3 mb-0 flex items-center justify-center border-b border-2 bg-gray-100">
                    <i class="fas fa-history fa-4x"></i>
                </div>
                <div class="p-4 border-t-2 border-b-2 border-gray-300 h-52">
                    <h3 class="text-2xl text-center">History</h3>
                    <p class="text-gray-600 text-center text-base">All anomalies that are fixed are shown here.</p>
                </div>
                <div class="p-3 bg-gray-200">
                    <a class="btn block text-lg text-center bg-gray-800 text-white font-bold py-4 px-4 rounded-full w-full" routerLink="/history"> 
                       View 
                    </a> 
                </div>
            </div>
        </div>
     </div>
    
</div>