<div>
    <div class="grid grid-cols-7 h-12">
        <div class="col-span-1 bg-[#6586c3c5] py-3 overlay pl-4 flex flex-nowrap">
            <img src="../../assets/codiTrack-logo.png" width="15%" height="auto" alt="" class="my-auto">
            <p class="text-white my-auto text-3xl">Coditrack</p>
        </div>
        <div class="col-span-6 bg-gray-100 pl-3 py-4 h-16 flex flex-nowrap my-auto">
            <div class="my-auto absolute right-3 top-3" >
                <button class="px-3 py-2 bg-[#6684be] text-white rounded-md hover:bg-[#4f74ac] float-right" routerLink="/anomaly/map">
                    <div class="ml-auto text-xl"><i
                        class="fas fa-backward fa-xl"></i></div>
                </button>
            </div>
        </div>
    </div>

    <div class="container mx-auto" style="max-width: 1200px;">
        <h1 class="underline my-16">Anomaly {{anomaly.id}}</h1>
    
    
        <div class="grid grid-cols-2 gap-2 my-5 pl-4">
            <div>
                <p class="text-lg">Image</p>
            </div>
            <div>
                <p class="text-lg">Location</p>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 my-5 pl-4">
            <div class="h-[400px] w-[600px]"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Railroad_Tracks_-_Merritt_Island%2C_Florida.jpg/1200px-Railroad_Tracks_-_Merritt_Island%2C_Florida.jpg?20121011174007" alt="" class="object-cover"></div>
            <div *ngIf="anomaly && anomaly.id !== 0">
                <app-map [width]="'600px'" [height]="'400px'" [anomalies]="[anomaly]" [zoom]="16" [center]="center"></app-map>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-2 my-5 pl-4">
            <div>
                <div>
                    <div class="grid grid-cols-2 gap-2">
                        <div class="my-auto flex flex-nowrap">
                            <input type="checkbox" name="markfalse" class="h-5 w-5 my-auto" [(ngModel)]="isFalse">
                            <label for="markfalse" class="text-base my-auto mx-2">False Anomaly</label>
                        </div>
                        <div class="my-auto flex flex-nowrap">
                            <input type="checkbox" name="markfixed" class="h-5 w-5 my-auto" [(ngModel)]="isFixed">
                            <label for="markfixed" class="text-base my-auto mx-2">Fixed</label>
                        </div>
                    </div>
                </div>
                <button (click)="submitChanges(anomaly.id)" class="px-4 py-2 mt-8 bg-[#6684be] text-white text-sm rounded-md hover:bg-[#4f74ac]">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>