<div class="container mx-auto" style="width: 1200px;">
    <div class="grid grid-cols-7 gap-7">
        <div class="col-span-6">
            <h1>Anomalies</h1>
        </div>
        <div class="col-start-7 w-full" (click)="changeMode()">
            <button class="px-4 py-2  bg-gray-200 text-black text-sm rounded float-left w-1/2">List</button>
            <button class="px-4 py-2  bg-[#6684be] text-white text-sm rounded float-right w-1/2">Map</button>
        </div>
    </div>
    <div class="relative mt-5">


        <app-map class="" [anomalies]="getAnomaliesByCountry(selectedCountry, selectedTypes)" />

        <div class=" top-6 right-3">
            <div class="bg-gray-100 bg-opacity-75 w-32 h-12 absolute top-6 right-3 z-10 rounded p-1 border">
                <div class="flex items-center h-full">
                    <select class="w-full text-base" name="country" id="" [(ngModel)]="selectedCountry">
                        <option class="text-base" value="all">All locations</option>
                        <option class="text-base" value="belgium">Belgium</option>
                        <option class="text-base" value="france">France</option>
                        <option class="text-base" value="germany">Germany</option>
                        <option class="text-base" value="netherlands">Netherlands</option>
                    </select>
                </div>
            </div>
            <div class="bg-gray-100 bg-opacity-75 w-32 h-12 absolute top-20 right-3 z-10 rounded p-1 border">
                <div class="flex items-center h-full">
                    <select class="w-full text-base" name="types" id="" [(ngModel)]="selectedTypes">
                        <option class="text-base" value="all">All types</option>
                        <option class="text-base" value="vegetation">Vegetation</option>
                        <option class="text-base" value="signs">Signs</option>
                      </select>
                </div>
            </div>
        </div>

        <div class="p-1 md:mt-4 h-44 bg-gray-100 bg-opacity-75 w-36 absolute bottom-6 right-3 z-10 rounded p-1 border">
            <p class="text-lg mb-2">Types:</p>
            <ul class="text-base space-y-2">
                <li class="flex items-center">
                    <span class="dot bg-slate-700 h-4 w-4 rounded-full mr-2"></span>
                    <p>Vegetation</p>
                </li>
                <li class="flex items-center">
                    <span class="dot bg-cyan-600 h-4 w-4 rounded-full mr-2"></span>
                    <p>Signs</p>
                </li>
            </ul>
        </div>

    </div>
</div>