<div>
    <div class="grid grid-cols-7 h-12">
        <div class="col-span-1 bg-[#6586c3c5] py-3 overlay pl-4 flex flex-nowrap">
            <img src="../../assets/codiTrack-logo.png" width="15%" height="auto" alt="" class="my-auto">
            <p class="text-white my-auto text-3xl">Coditrack</p>
        </div>
        <div class="col-span-6 bg-gray-100 pl-3 py-3 flex flex-nowrap my-auto">
            <div class="bg-gray-100 bg-opacity-75 w-32 h-12 rounded p-1 my-auto">
                <div class="flex items-center h-full">
                    <select class="appearance-none bg-white border border-gray-300 py-2 px-4 leading-tight text-sm rounded-md" name="country" id="" [(ngModel)]="selectedCountry">
                        <option class="text-base" value="all">All locations</option>
                        <option class="text-base" value="belgium">Belgium</option>
                        <option class="text-base" value="france">France</option>
                        <option class="text-base" value="germany">Germany</option>
                        <option class="text-base" value="netherlands">Netherlands</option>
                    </select>
                </div>
            </div>
                <div class="bg-gray-100 bg-opacity-75 w-32 h-12 rounded p-1 my-auto">
                <div class="flex items-center h-full">
                    <select class="appearance-none bg-white border border-gray-300 py-2 px-4 leading-tight text-sm rounded-md" name="types" id="" [(ngModel)]="selectedTypes">
                        <option class="text-base" value="all">All types</option>
                        <option class="text-base" value="vegetation">Vegetation</option>
                        <option class="text-base" value="signs">Signs</option>
                    </select>
                </div>
            </div>
            <div class="my-auto absolute right-3 top-3 flex flex-nowrap">
                <div (click)="changeMode()" class="my-auto mx-8">
                    <button class="px-4 py-2  bg-gray-200 text-black text-sm rounded float-left w-1/2">List</button>
                    <button class="px-4 py-2  bg-[#6684be] text-white text-sm rounded float-right w-1/2">Map</button>
                </div>

                <button class="px-3 py-2 bg-[#6684be] text-white rounded-md hover:bg-[#4f74ac] float-right my-auto" routerLink="/menu">
                    <div class="ml-auto text-xl"><i
                        class="fas fa-backward fa-xl"></i></div>
                </button>
            </div>
            
        </div>
    </div>
    <div class="mx-auto" *ngIf="anomalies && anomalies.length > 0">
        <div class="relative mt-5 overflow-hidden">
            <app-map class="" [anomalies]="getAnomaliesByCountry(selectedCountry, selectedTypes)" [height]="'92.5vh'" [width]="'100%'" [center]="center" [isDetails]="false"  />
            <div class="md:mt-4 absolute bottom-6 left-3 z-10 rounded p-1">
                <img src="../../assets/RoT_icon_blue.png" alt="" class="h-12 w-auto">
                
            </div>
            <div class="md:mt-4 h-44 bg-gray-100 bg-opacity-75 w-36 absolute bottom-6 right-3 z-10 rounded p-1 border">
                <p class="text-lg mb-2">Types:</p>
                <ul class="text-base space-y-2">
                    <li class="flex items-center">
                        <span class="dot bg-slate-700 h-4 w-4 rounded-full mr-2"></span>
                        <p>Vegetation</p>
                    </li>
                    <li class="flex items-center">
                        <span class="dot bg-cyan-600 h-4 w-4 rounded-full mr-2"></span>
                        <p>Signs</p>
                    </li>
                </ul>
            </div>
    
        </div>
    </div>
</div>