.card-header {
    padding: .75rem 1.25rem;

}
.customScrollBar::-webkit-scrollbar {
    width: 10px;
  }
.customScrollBar::-webkit-scrollbar-thumb {
background-color: #f0f3f9;
border-radius: 0.5rem;
}
.customScrollBar::-webkit-scrollbar-thumb:hover {
background-color: #cdd4e0;
}
.smalltext{
    font-size: 12px !important;
}

.datepicker {
    width: 100%;
}
